<ion-header [translucent]="true">
</ion-header>

<ion-content fullscreen>
  <div class="padding">
    <div>
      <div>
        <h1 class="title ion-text-center">Login</h1>
      </div>
    </div>
    <form class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">
    <div>
        <div class="form-container">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email"></ion-input>
          </ion-item>
        </div>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message"
              *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <div class="form-container">
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
        </div>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message"
              *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
    </div>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="ion-margin-top">
                <ion-button class="submit-btn" type="submit" expand="block" [disabled]="!validations_form.valid">
                  LOGIN
                </ion-button>
              </div>
            </ion-col>
            <label class="error-message">{{errorMessage}}</label>
            <label class="success-message">{{successMessage}}</label>
          </ion-row>
        </ion-grid>
      </div>
    </form>
  </div>
<div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <p class="registerbutton" routerLink="/register">Don't have an account? <b>Register</b> now!</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

</ion-content>

