#map {
    height:100%;
}
ion-toolbar {
    color: black;
    --background: #f3ad2e;
}

ion-fab-button {
    color: black;
    --background: #f3ad2e;
}

ion-button {
    color: black;
    --background: #f3ad2e;
}

ion-title{
    text-align: center;
  }