.photo-profile{
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    width: 85px;
    height:85px;
    border-radius: 50%;
  }

  
ion-toolbar {
  color: black;
  --background: #f3ad2e;
}

  ion-title{
    text-align: center;
  }