.validation-errors {
    color: red;
    font-size:10px;
    margin-left:20px;
    margin-top:5px;
}

ion-button {
    --background: #f3ad2e;
    color: #000;
}

ion-toolbar{
    --min-height: 50px;
}